# This is the CI matrix that runs per push event.

trigger:
- master

stages:
- stage: Initial
  jobs:
  - job: 'PEP517'
    pool:
      vmImage: 'Ubuntu-16.04'

    steps:
    - task: UsePythonVersion@0

    # Make sure that packaging will work
    - script: |
        python -m pip install --upgrade pip setuptools pep517 twine
        python -m pep517.build --source .
        twine check dist/*
      displayName: 'pep517 build'

  - job: 'PEP8'
    pool:
      vmImage: 'Ubuntu-16.04'

    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.x'

    - script: |
        python -m pip install --upgrade pip setuptools
        pip install flake8
        flake8 reftools --count
      displayName: 'PEP 8 check'

  - job: 'Audit'
    pool:
      vmImage: 'Ubuntu-16.04'

    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.x'

    - script: |
        python -m pip install --upgrade pip setuptools
        pip install bandit
        bandit -r . -c .bandit.yaml
      displayName: 'Security audit'

  - template: azure-templates.yml

- stage: Comprehensive
  dependsOn: Initial
  condition: succeeded()
  jobs:
  - job: 'LinkCheck'
    pool:
      vmImage: 'Ubuntu-16.04'
    strategy:
      maxParallel: 4

    steps:
    - task: UsePythonVersion@0

    - script: |
        python -m pip install --upgrade pip setuptools
        pip install -e .[docs]

    - bash: |
        cd doc
        make linkcheck
      displayName: 'Run docs link check'

  - template: azure-templates.yml
    parameters:
      name: 'Older_Versions'
      numpyCmd: 'pip install numpy==1.16.6'
      astropyCmd: 'pip install astropy==3.2.2'
      pythonVersion: '3.6'

  - template: azure-templates.yml
    parameters:
      name: 'Dev_Astropy'
      astropyCmd: 'pip install git+https://github.com/astropy/astropy.git@master#egg=astropy'
      pythonVersion: '3.8'

  - template: azure-templates.yml
    parameters:
      name: 'Windows'
      vmImage: 'vs2017-win2016'

  - template: azure-templates.yml
    parameters:
      name: 'OSX'
      vmImage: 'macOS-10.13'

schedules:
- cron: "0 5 * * 1"
  displayName: Weekly Monday 5AM build
  branches:
    include:
    - master
